@font-face{
    font-family: calibre-medium;
    src: url(../fonts/CalibreApp-Medium.ttf);
}
@font-face{
    font-family: walkway;
    src: url(../fonts/Walkway.ttf);
}
@font-face{
    font-family: roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #31A697 !important;
}
.hidden{
    display: block !important;
    opacity: 0;
}
.visible{
    opacity: 1;
}
.no-pad{
    padding: 0px;
}
.no-mar{
    margin: 0px;
}
.container.no-mar{
    width: 100%;
}
body{
    background-color: #373737;
}
#reksi,#fikly{
    display: none;
}
.logo{
    text-align: center;
    padding-top: 100px;
}
.logo .logo-img{
    background-size: auto  100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
}
.nav-box{
    width:40px;
    position:fixed;
    right:0px;
    top:20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s;
    z-index: 3;
    background-color: #ffffff;
    border-radius: 100px;
}
.nav-box .remove-ovelay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    top: 0;
    z-index: 5;
    display: none;
}
.nav-box .dislay-ovelay{
    position: relative;
    height: 100%;
    padding: 10px 0px;
    width: 100%;
    top: 0;
    z-index: 4;
    display: block;
}
.strip-nav{
    height: 3px;
    width: 50%;
    border-radius: 3px;
    background-color: #38B8A7;
    margin: 0px auto;
    transition: all .5s;
}
#nav-1{
    margin-bottom: 5px;
}
.nav-2-left{
    position: absolute;
    left: 25%;
    top:46%;
    opacity: 0;
}
.nav-box.open{
    background-color: transparent;
}
#nav-3{
    margin-top: 5px;
}
.open #nav-2{
    transform: rotate(130deg);
    background-color: #ffffff;
}
.open .nav-2-left{
    transform: rotate(-130deg) !important;
    opacity: 1;
}
.open #nav-1, .open #nav-3{
    opacity: 0;
}
.ovelay{
    position: fixed;
    left: 0px;
    top:0px;
    overflow-y: auto;
    background-color: rgba(56, 184, 167, 0.9);
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
}
.navbar-menu{
    list-style: none;
    padding: 0;
    padding: 120px 0px;
}
.navbar-menu li{
    text-align: center;
    margin-top: 65px;
}
.navbar-menu li:first-child{
    margin-top: 0px;
}
.navbar-menu li span{
    font-size: 32px;
    color:#ffffff;
    text-shadow: 1px 1px 5px #666666;
    transition: all .8s;
    cursor: pointer;
    font-family: walkway;
    opacity: 0;
}
.menu-1{transition-delay: .3s !important;}
.menu-2{transition-delay: .4s !important;}
.menu-3{transition-delay: .5s !important;}
.menu-4{transition-delay: .6s !important;}
.menu-5{transition-delay: .7s !important;}
.open li span{
    transform: rotateY(360deg);
    opacity: 1;
}
.btn-socmed{
    background-color: #0a6f62 !important;
    color: #ffffff !important;
    margin: 0px 10px !important;
}
.btn-socmed:hover{
    background-color: #38b8a7 !important;
}
.home{
    height: 400px;
    background-color: #ffffff;
}
.skill{
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: #373737;
    text-align: center;
    color: #ffffff;
}
h3{
    font-family: roboto;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 5px #333333;
    margin-bottom: 30px;
}
.skill h3{
    margin-bottom: 50px;
}
.box-skill h3{
    margin : 0px;
    font-size: 18px;
    margin-top: 30px;
}
.box-skill h4{
    font-family: calibre;
    font-size: 16px;
}
.box-skill img{
    height: 80px;
    width: auto;
}
.about{
    min-height: 300px;
    background-size: cover;
    background-position: bottom;
    padding-top: 20px;
    text-align: center;
    background-attachment: fixed;
    position: relative;
}
.about.riky{
    background-image: url(../images/head.jpg);
}
.about.fikly{
    background-image: url(../images/head-fikly.jpg);
}
.about.reksi{
    background-image: url(../images/head-reksi.jpg);
}
.ovelay-about{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
}
.about img{
    height: 120px;
    margin: 10px 10px;
    opacity: 0.5;
    cursor: pointer;
}
.about img.active{
    opacity: 1;
}
.portofolio{background-color: #ffffff;}
.box-portofolio{
    position: relative;
    height: 220px;
    overflow: hidden;
}
.portofolio img{
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    -webkit-transition: all 1s;
}
.caption-portofolio{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .2s;
}
.box-portofolio:hover>.caption-portofolio{
    opacity: 1;
    animation-name: slideInUp;
}
.box-portofolio:hover>img{
    -webkit-transform: scale(1.1);
}
@media(min-width : 992px){
    .nav-box{
        right:30px;
    }
}
@media(min-width : 538px){
    .about img{
        height: 150px;
        margin: 10px 10px;
    }
}
@media(min-width : 690px){
    .about{
        min-height: 400px;
    }
    .about img{
        height: 180px;
        margin: 20px 20px;
    }
}
@media(min-width : 811px){
    .about img{
        height: 200px;
        margin: 20px 30px;
    }
}
@media(min-width : 1085px){
    .about img{
        height: 250px;
        margin: 20px 50px;
    }
}